################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Teste/Teste/obj/Debug/net8.0-windows
/Teste/.vs/Teste/FileContentIndex
/Teste/.vs/Teste/DesignTimeBuild
/Teste/.vs/Teste/v18
/Teste/Teste/bin/Debug/net8.0-windows
/Teste/Teste/Dados/imagem
/Teste/Teste/obj
/Teste/.vs/ProjectEvaluation/teste.strings.v10.bin
/Teste/.vs/ProjectEvaluation/teste.projects.v10.bin
/Teste/.vs/ProjectEvaluation/teste.metadata.v10.bin
/Teste/.vs/ProjectEvaluation/teste.strings.v10.bin
/Teste/.vs/Teste
